@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-inter: 'Inter', system-ui, -apple-system, sans-serif;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-white text-gray-900;
  }
  
  html[dir="rtl"] {
    direction: rtl;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
